[2022-05-05 03:31] drickzsy opened #3 "ImportError: cannot import name 'FastRCNNOutputs' from 'detectron2.modeling.roi_heads.fast_rcnn'"
There is no FastRCNNOutputs in the detectron installed according to the installation steps, did I install it wrong?

[2022-05-05 21:02] yujheli commented on #3
I think if you install the detectron2 correctly, you should be able to load the library.

[2022-05-09 07:16] tmp12316 opened #4 "Question about Figure 4"
Thank you for your work. But I have a question about Figure 4 in the main paper.

It seems that with only 10k iterations of the source-only pre-training, the model has achieved around 33.0 mAP, which has significantly outperformed the well-trained source-only results (28.8). Does it mean that the detectron2 implemented FRCNN works better?

[2022-05-09 14:51] yujheli commented on #4
The result of high performance reported in the first iteration was after the first update of EMA (with one iteration update using pseudo labels). Though, we also think implementation with detectron2 usually has higher performance.

[2022-05-10 08:57] krumo commented on #3
Hi @yujheli, I'm also faced with the same problem. In the https://github.com/facebookresearch/detectron2/commit/11528ce083dc9ff83ee3a8f9086a1ef54d2a402f, the class `FastRCNNOutputs` is removed from `detectron2.modeling.roi_heads.fast_rcnn` So in the the latest version, detectron2 doesn't have this class. I think it would be better if you could consider to provide the version of detectron2 on which

[2022-05-10 13:35] #4 closed

[2022-05-10 15:59] litingfeng opened #5 "Distributed training failure"
Hi,

When running the training code, I encountered the following issue.

Traceback (most recent call last):
  File "/research/cbim/vast/tl601/projects/adaptive_teacher/adapteacher/engine/trainer.py", line 402, in train_loop
    self.run_step_full_semisup()
  File "/research/cbim/vast/tl601/projects/adaptive_teacher/adapteacher/engine/trainer.py", line 597, in run_step_full_semisup
    all_label_da

[2022-05-10 16:25] yujheli commented on #3
I just found the version of detectron2 I was using is v0.3. I will update the readme.

[2022-05-10 16:54] yujheli commented on #5
Sorry, I found this is probably a bug using distributed training in the local machine. I was running the code on the internal fblearner cluster (Facebook internal machine) and it worked fine for me. I will try to fix the bug as soon as possible. BTW, if you only use one GPU, I think the code can be running on the local machine for the current version.

[2022-05-12 15:12] litingfeng opened #6 "How to train on custom datasets?"
Hi,

Thanks for sharing the code.

I was wondering if you could also share the instruction on how to train on custom datasets. Since I've noticed that you modified the low level code such as `builtin.py` in `data.datasets`, rather than registering somewhere else.

Thanks in advance.

[2022-05-12 15:16] michaelku1 commented on #6
Detectron2 has a whole tutorial on how to register dataset, no?

[2022-05-12 15:53] michaelku1 commented on #6
If I remember correctly, first thing is to add a _PREDEFINED_SPLITS_XXX dictionary, this is for specifying the paths of all train, val, test sets from your dataset directory. Next, you need to define your register function, this is for registering all coco instances of your dataset. One more important thing is that you need to call your register function in __init__.py to make it work. I think tha

[2022-05-12 15:55] michaelku1 commented on #5
Did you manage to solve the issue? I'm facing the same problem am currently looking into it.

[2022-05-12 16:05] litingfeng commented on #6
@michaelku1 Thank you so much for the detailed answer! This is very helpful! 👍

[2022-05-12 17:36] yujheli commented on #5
I kind of fixed it by adding redundant discriminator loss with a very small weight. I will add a pull request soon and the code will be updated.

[2022-05-12 17:45] yujheli commented on #6
Thank you for answering questions for us!

[2022-05-12 20:11] yujheli commented on #5
I think the mutual learning stage also requires a small loss for the supervised branches on the source domain. The code is updated and please give it another try.

[2022-05-12 21:36] litingfeng commented on #5
It runs well now. But is it normal that the eta is "eta: 5 days, 6:38:33" if I set `IMG_PER_BATCH_LABEL` and `IMG_PER_BATCH_UNLABEL` to 16 while 2 days if set to 4?

[2022-05-12 21:46] michaelku1 commented on #5
Number of iterations is fixed, batch size is increased, you train more data, which takes longer time.

[2022-05-12 23:11] michaelku1 commented on #5
Thanks for the quick fix yujhe! Training seems to be going well!

[2022-05-13 00:32] litingfeng commented on #5
True. I wasn't aware that it's iterations, not epochs.

[2022-05-13 23:33] darkhan-s commented on #6
Hi @yujheli! I was trying to test the model on my custom VOC format dataset, and ended up having the following error:

[code]
I was testing with detectron2 (0.6) and it seemed to be doing fine for 868 iterations. I assume something is wrong with the adaptation model, what could it possibly be?

[2022-05-13 23:42] darkhan-s commented on #3
[This seems to solve the issue](https://github.com/facebookresearch/unbiased-teacher/issues/44#issue-993083144)

[2022-05-14 06:21] yujheli commented on #6
@darkhan-s May I ask how you registered your custom VOC dataset? I think following the code in L156-165 in builtin.py should work.

For the error, I am not pretty sure but I think if you comment on the code for probing it should solve the problem. Looks like the model does not predict any box and probing was not working successfully.

In trainer.py, L557-558 or L573-574 is just for probing to see

[2022-05-14 23:20] darkhan-s commented on #6
@yujheli Commenting that out seems to work. I assume it does not predict any pseudo box at the very early stage because the accuracy is too low? So should we modify the code so that it would attempt to take a probe only if there are any pseudo labels predicted?

[2022-05-15 16:38] yujheli commented on #6
@darkhan-s Yes, I think that makes more sense. I will need to figure out when exactly the probing will crash and then revise it.

[2022-05-17 01:27] michaelku1 opened #8 "Regarding the Watercolor Dataset Config"
Hello, so I am wondering whether there is a specific split file we have to run to obtain the voc split for the watercolor dataset? The burn in training for watercolor only trains on the 7 overlapping classes that span both voc and watercolor. Is that part of the code missing or is it assumed to be done by ourselves.? Many Thanks.

[2022-05-17 17:38] yujheli commented on #8
@michaelku1 I put it in the config folder. You can directly run it without revising the code.

[2022-05-17 17:54] michaelku1 commented on #8
Just saw it, Thanks.

[2022-05-17 17:54] #8 closed

[2022-05-19 16:04] michaelku1 opened #9 "Predicted boxes or scores contain Inf/NaN. Training has diverged."
Just wondering if anyone has experienced the same issue while training clipart at batch size=16, lr = 0.01 during mutual learning (as stated in the title)? When I tested with batch size = 1 there seemed to be no problem. Initial thought was the cause of high learning rate (https://github.com/facebookresearch/detectron2/issues/1128), but all datasets were trained at lr=0.01 as from the paper. The b

[2022-05-19 18:05] yujheli commented on #9
This happens to me when I set a large weight factor for discriminator. Try 0.05 or less for the discriminator weight to see if this helps.

[2022-05-20 01:54] michaelku1 commented on #9
Thanks for the quick reply, I will give it a try.

[2022-05-22 13:13] tyunit opened #10 "."

[2022-05-22 19:54] tyunit opened #11 "."

[2022-05-22 20:09] #11 closed

[2022-05-22 21:12] michaelku1 commented on #9
So I have tried lower discriminator loss weights but still got the same bug, I will look further into it.

[2022-05-23 05:36] #10 closed

[2022-05-23 05:41] yujheli commented on #9
I see. Let me analyze this if this happens to me on the local machine. I did not have this problem when I use 0.05 as the weight of the discriminator while this happens to me sometimes when it is set as 0.1 when I use 0.02 as the learning rate.

[2022-05-23 14:54] michaelku1 commented on #9
just to double check, this is my current config param settings for clipart, which follows paper's numbers:

_BASE_: "../Base-RCNN-C4.yaml"
MODEL:
  META_ARCHITECTURE: "TwoStagePseudoLabGeneralizedRCNN"
  WEIGHTS: "detectron2://ImageNetPretrained/MSRA/R-101.pkl"
  MASK_ON: False
  RESNETS:
    DEPTH: 101
    # as a reminder
    OUT_FEATURES: ["res4"]
  PROPOSAL_GENERATOR:
    NAME: "PseudoLabRPN"

[2022-05-23 16:49] yujheli commented on #9
@michaelku1 Where did you set the discriminator weight? I don't see this parameter in your config? You manually edit it in the code?

[2022-05-23 16:52] michaelku1 commented on #9
I passed it at cmd line arguments like SEMISUPNET.DIS_LOSS_WEIGHT 0.05.

[2022-05-23 16:57] yujheli commented on #9
@michaelku1 I think what should work. When does Inf/NaN happen to you? Like how many iterations have been run until this happen? This can happen to me when I run more than 50k iterations while the best performance usually appear in the 20k-30k iterations.

[2022-05-23 17:02] michaelku1 commented on #9
So the error occured at iterations>14000 for clipart and >39000 for watercolor.

[2022-05-23 17:11] yujheli commented on #9
I think it makes some sense for the iterations, yet I think I have to see if the current code is consistent as the version I run in Meta cluster using d2go (https://github.com/facebookresearch/d2go). Please allow me few days for this.

[2022-05-23 17:18] michaelku1 commented on #9
Many Thanks, I will look into it also.

[2022-05-25 08:39] michaelku1 commented on #9
So after some debugging, I realised the feature activations for weakly augmented unlabeled data were all nan values at some iteration number. The weakly augmented images looked fine as I visualized them, so I wonder if it's because of the backbone.

[2022-05-26 07:58] tyunit opened #12 "How to train using single gpu?"

[2022-05-29 13:59] michaelku1 commented on #9
It's training well when I use 0.01 for domain loss weight, which makes sense as domain losses are high for source and target during mutual learning, will close this issue for now.

[2022-05-29 18:17] yujheli commented on #9
@michaelku1 Did you get good performance using 0.01 for domain loss weight? The best performance usually appears when using weight > 0.05 even though it is easy to diverge.

[2022-05-30 03:32] yujheli commented on #12
@tyunit You can set num_gpus as 1. Remember to feed the proper small batch size for labeled and unlabeled images.

[2022-05-30 05:15] michaelku1 commented on #9
Performance is poor so far (e.g watercolor has AP around 29 for the best performance which is at iter=20k).

[2022-05-30 14:17] tyunit commented on #12
@yujheli  Thank you for your response I reduce the batch size and the MIN_SIZE_TRAIN but I didn't get the expected result. I reduced MIN_SIZE_TRAIN to (300,) do it have effect on the results?

[2022-05-30 14:33] Pandaxia8 opened #13 "Why discriminator is trained in supervised and target branch?"
I noticed that in the rcnn.py loss_D_img_s and loss_D_img_t are trained with a small weight. I don't know what is the meaning of these two lines of code?

Is this the way to initialize the discriminator? Will it prevent the model suffer from Model Collapse, which is caused by the discriminator?

`losses["loss_D_img_s"] = loss_D_img_s*0.001`
`losses["loss_D_img_t"] = loss_D_img_t*0.001`

Will the p

[2022-05-30 22:34] yujheli commented on #9
@michaelku1 You mean AP@0.5 right? not AP@[0.5-0.95].

[2022-05-30 22:36] yujheli commented on #12
I would suggest not changing the MIN_SIZE_TRAIN. Also, you know we report AP@50, not AP(COCO evaluation) in our paper right?

[2022-05-30 23:42] michaelku1 commented on #9
Yes, there are three AP values in the log file and the leftmost one shows “AP,” which I think is the mAP per se.

[2022-05-30 23:45] yujheli commented on #9
@michaelku1 You should look at AP50 which is what we report for domain adaptation benchmarks. The AP in the logfile is COCO format using AP@0.5-0.95.

[2022-05-30 23:59] michaelku1 commented on #9
I see. In that case the numbers are indeed close to the papers. I just realized for coco evaluator AP50 is the correct metric to look at for pascal voc benchmarks. Thank you.

[2022-05-31 01:53] Pandaxia8 commented on #13
Thanks for the answer

[2022-05-31 03:56] tyunit commented on #12
I tried  reducing the batch size to 1 without changing the MIN_SIZE_TRAIN but it still says RuntimeError: CUDA out of memory.
Here is my GPU specification
![spec](https://user-images.githubusercontent.com/24771647/171089514-9f35f30f-f41e-4a16-9bd8-b7599fd79de8.PNG)

[2022-05-31 08:06] Pandaxia8 opened #14 "loss nan"
When I set Dis_loss_weight=0.1, model will collapse. I see the same problem in https://github.com/facebookresearch/detectron2/issues/1128 .
According to your solution, setting the smaller diss_weight will alleviate this issue.But it will get a poor MAP.
How did you train your model with Dis_loss_weight=0.1?

[05/30 11:21:25] d2.utils.events INFO:  eta: 8:39:59  iter: 10019  total_loss: nan  loss_c

[2022-05-31 14:32] #13 closed

[2022-06-02 00:45] yujheli commented on #14
I train on 8 V100 with batch size = 16, dis_loss_weight=0.1, using learning rate = 0.02, which is fined for me to run 100k iterations (including 10k burn-in initialization on source)

[2022-06-02 07:09] #14 closed

[2022-06-05 01:11] tyunit opened #15 "how to get AP50 result for each classes as reported on the paper?"

[2022-06-05 04:15] yujheli commented on #12
It works on my machine using one GPU and run the script by:
[code]
which only uses 7G on 2080Ti

[2022-06-05 04:28] yujheli commented on #15
Follow section 4.2 in the paper and set the same exact parameters (16 batch size) then you can get the results reported in the paper. Actually setting unsupervised weight as 0.5 or 0.25 can get even better results than we were reporting in the paper, which means that the performance of our model can be improved by sweeping more parameters.

[2022-06-05 04:50] yujheli commented on #9
@michaelku1 I upload the internal prod code in prob_lib/ which I run in the internal server. You can see if there is a big difference bwtween them. Also, you are using 16 batch size right?

[2022-06-05 11:00] michaelku1 commented on #9
Thanks for the upload. Yes I was using bs=16 but was using a lower dis loss weight (=0.01). For watercolor and clipart the AP50 accuracy curve performance peaks around iters=18k (AP50=41.35) and 20k (AP50=55.45), . For cityscapes (AP50=38.41 @ iters=60k) it seemed like it could improve even more for more iterations (>60k).

For some reason when I trainied the model on a different set of machines w

[2022-06-05 13:09] tyunit commented on #15
16 batch size is not working for a single GPU so it that mean I can't get ap50 results using a single GPU?

[2022-06-05 13:16] michaelku1 commented on #15
You may try gradient accumulation. I trained the model with gradient accumulation and got close results.

[2022-06-05 13:20] tyunit commented on #15
how can I do that can you elaborate  it, please?  shall I update the config file

[2022-06-05 14:22] michaelku1 commented on #15
You should change the code in the trainer file such that for each step()
loss.backward() is called for as many sub iterations needed as possible to
reach the effective batch size and then you do the update all at once. For
example, your effective batch size would be 16 and your gpu may only fit 4
images at max. You would change the batch size in the config file to 4 and
then write a for loop that

[2022-06-05 18:24] tyunit commented on #15
Thank you I really appreciate your  detailed explanation. I take a look at the PyTorch examples  but  since  I am not familiar with it before it isn't easy for me to make the  update. so i appreciate if you can provide the updated trainer file or the code withe specific line where it can be replaced.

[2022-06-05 21:05] yujheli commented on #15
@michaelku1 I really appreciate your help. I also just learned the knowledge of gradient accumulation.

[2022-06-05 21:07] yujheli commented on #9
@michaelku1 I think dis loss weight >= 0.05 is necessary (at least I got my best results using either 0.05 or 0.1). Also, are you using bbox threshold = 0.8 instead of 0.7 right? 0.7 will lead to bad performance while the original config I upload is 0.7. I updated the configs.

[2022-06-06 05:22] michaelku1 commented on #15
Though not 100% sure, but this implementation allowed me to train well on a single gpu with effective bs = 16

![擷取](https://user-images.githubusercontent.com/48415065/172099720-268abc23-2db2-479f-84ba-6dbb21305fa9.PNG)

[2022-06-06 07:38] michaelku1 commented on #9
Yes, I am using 0.8. I followed the exact setting as the paper.

[2022-06-06 09:27] kinredon opened #16 "The experiments of vgg16 without BN layers?"
Hi, thanks for your awesome project!

When I dive into the detail of adaptive_teacher, I find that the vgg16 backbone has BN layers by default.

https://github.com/facebookresearch/adaptive_teacher/blob/cba3c59cadfc9f1a3a676a82bf63d76579ab552b/adapteacher/modeling/meta_arch/vgg.py#L62

As far as I know, the vgg16 backbone does not contain BN layers, which will improve the baseline of cross-domain

[2022-06-07 03:04] yujheli commented on #16
Hi @kinredon. Thank you for noting the issue of batch normalization. In our experiments, we found batch normalization does not bring that much difference (1~2%) in the implementation in this setting though we will provide the results without using them soon in the readme.

As we see the results using Resnet-101 on the other setting and we still have large improvements using our framework. We also

[2022-06-08 11:35] kinredon commented on #16
@yujheli There is a small bug in:
https://github.com/facebookresearch/adaptive_teacher/blob/cba3c59cadfc9f1a3a676a82bf63d76579ab552b/adapteacher/modeling/meta_arch/rcnn.py#L246

This branch `supervised_target ` is never executed although it does not influence the results because the adversarial loss weight is quite small.

[2022-06-08 12:01] kinredon commented on #16
@yujheli Figure 2 in the paper shows that student networks adopt strong augmentation data to utilize adversarial training. However, in the code:

https://github.com/facebookresearch/adaptive_teacher/blob/cba3c59cadfc9f1a3a676a82bf63d76579ab552b/adapteacher/engine/trainer.py#L612

The adversarial loss is calculated according to weakly augmented images instead of strongly augmented images as the pap

[2022-06-09 05:43] tmp12316 commented on #16
I am also looking forward to the results without BN.

I noticed the super-high source-only results before, and I wonder if the updated BN layers (w. super-large batch size) caused it?

https://github.com/facebookresearch/adaptive_teacher/issues/4#issue-1229286700

[2022-06-09 06:40] kinredon commented on #16
@tmp12316 I think there are serval reasons for high source-only results:

1. As you mentioned, the model with BN may benefit from the large batch size.
2. Detectron implementation usually show better results, as mentioned in https://github.com/facebookresearch/adaptive_teacher/issues/4#issuecomment-1121206200
3. I note that the mode is trained using both strongly and weakly augmented images at the

[2022-06-09 07:28] tyunit commented on #12
it works but the AP values for each classes are very low compared to the stated results on the paper

[2022-06-09 12:01] tmp12316 commented on #16
Thanks! I agree with you.

[2022-06-09 15:50] yujheli commented on #16
@kinredon Thank you for your patience. I sweep the parameters (12 experiments each with 8GPUs: around 100 V100 GPUs) for the network without BN and still get comparable performance (best with 50 mAP@50 obviously)
<img width="345" alt="image" src="https://user-images.githubusercontent.com/23270045/172889921-55e44c35-2c49-4866-9b1f-5607962b49e1.png">

[2022-06-09 16:00] kinredon commented on #16
@yujheli Thanks for your reply. I also try to reproduce the results where the vgg16 does not contain BN layers, but I encounter an error when the code starts the stage of mutual learning:

![image](https://user-images.githubusercontent.com/39270545/172891366-52c4c294-f68f-4df2-a0f2-94bc577f10c2.png)

I follow the default config and only remove the BN layer by setting the `batch_norm=False`:

https

[2022-06-10 09:18] michaelku1 commented on #15
However, even though gradients are accumulated, batchnorm statistics are not and this may lead to a slight discrepancy in performance between model trained using gradient accumulation and one that is not.

[2022-06-10 09:19] Nure123 opened #17 "Hello thankyou for the repository I tried to evaluate using provided pretrained model but it returns all zero like this. Any suggestion please?"
![result](https://user-images.githubusercontent.com/107245714/173034088-2070cb92-3068-4dfb-b9a1-875656e8e3b1.png)

[2022-06-12 20:46] yujheli commented on #12
@tyunit Please the code of reporting AP50 for the tensorboard at the link: for pascal voc format:
https://github.com/facebookresearch/adaptive_teacher/blob/main/adapteacher/evaluation/pascal_voc_evaluation.py#L120
for coco format:
https://github.com/facebookresearch/adaptive_teacher/blob/main/prod_lib/evaluation/coco_evaluation.py#L418

They all in the codes of this repo yet I haven't migrate them

[2022-06-15 07:01] apexx77 opened #18 "Supervised or Unsupervised ?"
### Need clarification whether Adaptive Teacher is unsupervised or not.
https://github.com/facebookresearch/adaptive_teacher/blob/cba3c59cadfc9f1a3a676a82bf63d76579ab552b/adapteacher/engine/trainer.py#L646-L647

Here are you using the labels of Target dataset?

[2022-06-15 21:18] yujheli commented on #16
@kinredon Sry for late reply. The VGG16 can not directly change batch_norm as False due to the architecture is hard code for using batch normalization. I run using my internal codes and will update this version later. The adversarial loss is using weak-augmentation since we hope the discriminator is designed to optimize domain shift instead of being affected by strong augmentation. The small bug i

[2022-06-16 00:30] kinredon commented on #16
@yujheli Thanks for your reply. I am looking forward to seeing your update.

[2022-06-16 17:10] yujheli commented on #18
@apexx77 This line of code is for keeping the weights as default (1) for supervised loss in the source domain. It would be great to have you read through the codes at: https://github.com/facebookresearch/adaptive_teacher/blob/main/adapteacher/engine/trainer.py#L495

Then you will better understand how we process the labels for the target (removing labels in target and replacing them with pseudo la

[2022-06-16 17:11] yujheli commented on #17
We haven't provided the local pre-trained weights yet. Which weight were you loading?

[2022-06-17 01:15] kinredon commented on #16
@yujheli Hi, I find the number of target samples is more than the one of the source domain on cityscapes to foggy cityscapes.
![](https://user-images.githubusercontent.com/39270545/172578487-e20e01c0-52a7-4818-afbc-82d95736dfd9.png)
I guess you use all the foggy data instead of the worst foggy as in many previous works. There are three foggy levels in foggy cityscape, i.e., 0.005, 0.01, and 0.02.

[2022-06-22 16:57] Nure123 commented on #17
I used The pretrained model provided on this link
[link](https://drive.google.com/drive/folders/17p8oYjhmoA77_hyVZq4WLJezsUiSZhdi?usp=sharing)

[2022-06-23 13:43] ygzhu opened #19 "The pretrained model for VGG16"
Thanks for your contribution! Can you provide the pretrained model for vgg16?

[2022-06-24 07:59] oopsboy opened #20 "why ap ap50 ap75 = 0.000?"
Train

[2022-06-25 13:50] ygzhu commented on #19
By referring to this https://github.com/facebookresearch/detectron2/pull/1584#issuecomment-1146610829, I have solved it

[2022-06-25 13:51] #19 closed

[2022-06-27 17:46] wha-cloud opened #21 "When I run the 17th line of adapteacher/checkpoint/detection_checkpoint.py, the ‘model’ in the ‘checkpoint’ is none, could you please tell me the reason? and it tells me that some keys in the weight file are not use"
When I run the 17th line of adapteacher/checkpoint/detection_checkpoint.py, the ‘model’ in the ‘checkpoint’ is none, could you please tell me the reason? and it tells me that some keys in the weight file are not use
<img width="250" alt="image" src="https://user-images.githubusercontent.com/65757396/176002887-893eb606-6da2-4aa6-b360-9a37bfc147a4.png">

what‘s more, line 334 of adapter/modeling/met

[2022-06-28 06:35] wha-cloud commented on #12
Can you share your version of python, pytorch, etc.? I'm having trouble debugging, I suspect it's a version problem

[2022-06-28 14:55] wha-cloud commented on #20
I have the same problem as you, did you solve it? and my total loss became nan

[2022-06-28 16:36] helq2612 opened #22 "Evaluation for each category"
Hi authors,

Great work! I tried to reproduce the adaptive teacher, but I find the script used to evaluate is only for coco style metrics. Do you have the script to output per category AP so that we can compare with the results in the paper?

Thanks!

[2022-06-28 16:59] yujheli commented on #20
@wha-cloud Could you check if the learning rate is too large? Or if you use too small batch size? See: https://github.com/facebookresearch/adaptive_teacher/issues/9

[2022-06-28 17:00] yujheli commented on #17
@Nure123 The pre-trained weights are for the d2go prod codes at: https://github.com/facebookresearch/adaptive_teacher/tree/main/prod_lib
You will need to align the keys

[2022-06-28 17:35] yujheli commented on #22
@helq2612 Yes, please see the codes at: https://github.com/facebookresearch/adaptive_teacher/blob/main/prod_lib/evaluation/coco_evaluation.py

I haven't migrated to the trainer.py yet you can import this file and replace the one in the original detectron2. This code will report AP50 in the tensorboard

[2022-06-28 17:41] #22 closed

[2022-06-29 13:33] wha-cloud commented on #20
Thanks! When I set the batch size to 8, up to now 2000 iterations are no problem. If it is set to 4, there are problems with several hundred iterations. Now I have a new question, it seems to be evaluated twice when training, why is the result of the second evaluation 0?
<img width="944" alt="image" src="https://user-images.githubusercontent.com/65757396/176449166-f8516ebd-fe56-4364-8855-494f4facc

[2022-06-30 06:34] apexx77 commented on #18
### Scenario -1
   - Created the same dataset directory as mentioned in the readme for CS and Foggy CS
   - Started training Adaptive Teacher

### Scenario-2
   -  Created Coco annotations for CS and Foggy CS.
   - Registered the datasets in `adaptive_teacher/adapteacher/data/datasets/builtin.py`
   - Started training Adaptive Teacher
### Expected behaviour
   - Getting almost same results in both

[2022-07-01 11:19] tmp12316 opened #23 "Why your DA-FRCNN implementation uses multi-scale training trick?"
Thanks for your work, but I recently noticed another question about the input image scale.

As far as I know, the input min scale should be 600 for FRCNN-based DAOD frameworks, as shown in https://github.com/krumo/Domain-Adaptive-Faster-RCNN-PyTorch/blob/df0488405a7679552bc2504b973e29178c141b26/configs/da_faster_rcnn/e2e_da_faster_rcnn_R_50_C4_cityscapes_to_foggy_cityscapes.yaml#L24

But It seems

[2022-07-03 00:59] oopsboy commented on #20
I wonder if you have solved it?

[2022-07-03 02:16] yujheli commented on #9
I recently borrow local machine with 8 GPU cards and will try to test the code locally as well.

[2022-07-03 02:19] yujheli commented on #20
@wha-cloud @oopsboy Does the number in tensorboard make sense? I always looked at the number in tensorboard and rarely see the numbers printed out.

[2022-07-03 02:20] yujheli commented on #18
Could you check if you COCO annotations are well-created? Also check if you use the correct register function for detectron2 such as setup correct meta data or so.

[2022-07-03 02:23] yujheli commented on #23
Sry I did not copy the correct Base-RCNN-C4 I used internally. I copied the one from detectron2. Will update.

[2022-07-03 02:24] apexx77 commented on #18
Yes, I did bbox visualisation and trained supervised models in detectron2 as well. But getting low AP after supervised iterations in Adaptive Teacher

[2022-07-03 02:27] yujheli commented on #21
I will look into your first question. Since the code is borrowed from the previous work, I think the code of checkpoint should not have problems. Will verity.

I think the IDE does not detect the inherited function from generalized RCNN? Could you check and let me know if there is a bug?

[2022-07-05 03:21] cwhgn opened #24 "Can not reproduce the results of "cityscapes" to "foggy cityscapes"."
Hi，I get some problems during the reproduction of the results of "cityscapes" to "foggy cityscapes".

During my reproduction, I caught an error as below:
![img1](https://user-images.githubusercontent.com/6065208/177240403-d3f9a283-bcbe-4185-9c11-0aeb115f9b41.png)

The environment is followed by your prerequisites: detectron=0.3, pytorch=1.7, cuda=11.0, python=3.7. So I changed your code in below t

[2022-07-05 23:20] helq2612 commented on #20
@[wha-cloud](https://github.com/wha-cloud) I guess you are in the source only pre-training stage, in which the student model does not have learned weights yet (https://github.com/facebookresearch/adaptive_teacher/blob/cba3c59cadfc9f1a3a676a82bf63d76579ab552b/configs/faster_rcnn_R101_cross_clipart.yaml#L43).

[2022-07-06 00:15] helq2612 commented on #9
Hi, I have trained the voc-> clipart with the default setting (8 GPUs, default configurations), and the loss gets nan after iter=21k (the SEMISUPNET.DIS_LOSS_WEIGHT  is set to 0.1 as default).

I also trained another vision, in which SEMISUPNET.DIS_LOSS_WEIGHT=0.01. The loss is converged, but the performance is decreased. The best performance is achieved at iteration=25k  and AP50=36.7128. After t

[2022-07-06 00:58] oopsboy commented on #20
@helq2612 Thank you for your answer. How can I modify the number of times of this paramete

[2022-07-06 15:49] helq2612 commented on #20
@[oopsboy](https://github.com/oopsboy) I think you can modify it in the config files, e.g.:
https://github.com/facebookresearch/adaptive_teacher/blob/cba3c59cadfc9f1a3a676a82bf63d76579ab552b/configs/faster_rcnn_R101_cross_clipart.yaml#L43
Or pass it as args to train_net.py

[2022-07-06 16:13] helq2612 commented on #9
Training got diverged after 25K iterations (with SEMISUPNET.DIS_LOSS_WEIGHT=0.05). The best performance is AP50=36.3788. The error message is here:

`
File "/project/codes/adaptive_teacher/adapteacher/modeling/proposal_generator/rpn.py", line 53, in forward
--
anchors, pred_objectness_logits, pred_anchor_deltas, images.image_sizes
File "/project/codes/detectron2/detectron2/modeling/proposal_genera

[2022-07-08 16:12] helq2612 commented on #9
Hi @michaelku1 , are you using MAX_SIZE_TRAIN=1200, MIN_SIZE_TRAIN=(600,), or the default settings in the config file (see discussion here https://github.com/facebookresearch/adaptive_teacher/issues/23#issue-1291276957)? Could you share your config file and the bash script? Thank you!

[2022-07-09 08:07] michaelku1 commented on #9
I think this is something I have missed (I trained with multi-scale, along with max_size=1333). I will update the config and will try it again. Thanks your reminder.

[2022-07-10 04:12] michaelku1 commented on #9
Now I have tried the same config but with single scale, but the problem still persists (divergence). Here is my config file

_BASE_: "./Base-RCNN-C4.yaml"
MODEL:
  # META_ARCHITECTURE: "TwoStagePseudoLabGeneralizedRCNN"
  META_ARCHITECTURE: "DAobjTwoStagePseudoLabGeneralizedRCNN"
  # WEIGHTS: "detectron2://ImageNetPretrained/MSRA/R-101.pkl"
  WEIGHTS: "detectron2://ImageNetPretrained/MSRA/R-101.pk

[2022-07-10 06:40] yujheli commented on #9
I found that there might be a bug when I try to fix the distributed error in https://github.com/facebookresearch/adaptive_teacher/issues/5

The discriminator is supposed to be randomly initialized after burn-in yet it is trained during the burn-in.

[2022-07-10 07:10] yujheli commented on #24
I did not get this error. When you look into the class COCOEvaluator, these two parameters are not supposed to be required:
<img width="330" alt="image" src="https://user-images.githubusercontent.com/23270045/178134919-224ca6bd-c541-46dd-b885-91f5e93d8375.png">

[2022-07-10 07:15] yujheli commented on #20
Ok, the model will be evaluated two times:
If you are in the stage of burn-in, you will get 0 AP for teacher.
bbox (not uses):
<img width="1110" alt="image" src="https://user-images.githubusercontent.com/23270045/178135027-7fefca3f-4aa4-47f4-846b-0cb40655de82.png">
bbox_student:
<img width="1157" alt="image" src="https://user-images.githubusercontent.com/23270045/178135055-a958db4b-f646-4f30-b6bd-

[2022-07-10 07:40] cwhgn commented on #24
Did you use the wrong version of Detectron2? The COCOEvaluator in Detectron2=0.3 is as below:
![image](https://user-images.githubusercontent.com/6065208/178135810-a83cecbe-b8e5-471e-838f-2bb97da382bd.png)

[2022-07-10 07:50] cwhgn commented on #24
I've changed my Detectron2 from v0.3 to v0.5. The code can be well run. But the performance is much lower than the reported, as below (city to foggy). It's hard for me to find the reason, as I do not changed anything in codes. Do you have any log files for me to find the problem?
![image](https://user-images.githubusercontent.com/6065208/178136005-0329bb24-707c-4520-84d6-83c02ae8feaa.png)

[2022-07-10 07:59] cwhgn commented on #24
Here is my config.yml:

CUDNN_BENCHMARK: false
DATALOADER:
  ASPECT_RATIO_GROUPING: true
  FILTER_EMPTY_ANNOTATIONS: true
  NUM_WORKERS: 4
  RANDOM_DATA_SEED: 0
  RANDOM_DATA_SEED_PATH: dataseed/COCO_supervision.txt
  REPEAT_THRESHOLD: 0.0
  SAMPLER_TRAIN: TrainingSampler
  SUP_PERCENT: 100.0
DATASETS:
  CROSS_DATASET: true
  PRECOMPUTED_PROPOSAL_TOPK_TEST: 1000
  PRECOMPUTED_PROPOSAL_TOPK_TRAIN:

[2022-07-10 08:27] cwhgn commented on #24
By the way, when I run the code on city to foggy, the dataset information is listed as below. Do it the same with yours?
![image](https://user-images.githubusercontent.com/6065208/178137011-e9153313-d357-482c-86f2-e035fa5b02e0.png)

When I run the code on pascal voc to clipart, an error is received. I do not change any code, but set the dataset directory as you required. I get the clipart from (ht

[2022-07-10 18:12] yujheli commented on #9
@michaelku1 @helq2612 Can you both re-clone the updated code? The updated code I can run for 55k iterations (including 25k burn-in) using lr=0.04 dis_weight=0.1 without getting NaN so far.
<img width="1495" alt="image" src="https://user-images.githubusercontent.com/23270045/178156981-c636a190-bbaf-4e7c-b1a5-a55da9202af8.png">

Yet I only use 3 GPU with 6 batch_size and also get sub-optimal perform

[2022-07-10 18:22] yujheli commented on #24
@cwhgn check if comment this line works for you for the clipart?
https://github.com/facebookresearch/adaptive_teacher/blob/main/adapteacher/data/dataset_mapper.py#L83

[2022-07-10 23:18] michaelku1 commented on #9
Thanks for the quick fix. Will give it a try.

[2022-07-11 02:50] cwhgn commented on #24
Thanks, it works. By the way, can you give me some help on the low performance problem of city-to-foggy I reproduced above?

[2022-07-11 04:52] yujheli commented on #24
@cwhgn Are you looking at AP50 instead of AP? For AP50 of each class, please find it in the tensorboard.

[2022-07-11 06:45] cwhgn commented on #24
Thanks, it's a great help for me! Another question, how to fix this problem that arises during my training on pascal voc to clipart.
![image](https://user-images.githubusercontent.com/6065208/178204405-fec7df80-5ebe-46ed-8d66-f0405754e73f.png)

[2022-07-11 23:26] helq2612 commented on #9
Sorry to bother you again, @yujheli . But the training is still diverged.
[code]
Looks like the generated pseudo labels contain Inf/Nan.

[2022-07-14 08:58] miurakenichi opened #25 "Loss becomes NaN"
I conducted a reproduction experiment of domain adaptation from PASCAL VOC to Clipart 1k,
but the loss became NaN during learning.

I am using 4 RTX 2080 Ti and changing the parameters as follows.

IMG_PER_BATCH_LABEL: 16 -> 4
IMG_PER_BATCH_UNLABEL: 16 -> 4
BASE_LR: 0.04 -> 0.01
MAX_ITER: 100000 -> 400000
BURN_UP_STEP: 20000 -> 80000

Is there a good solution?

[2022-07-14 09:21] miurakenichi opened #26 "Optimal number of learning iterations"
I have a question about the paper.
Looking at Figure 4, the score rises when the iteration is between 10k and 20k,
but The score hasn't increased much since then.
In this case, is it enough for learning to have about 20K iterations?

![fig4](https://user-images.githubusercontent.com/35514034/178947858-e5bb593e-b1f3-4138-948a-198a30f46351.png)

[2022-07-21 23:37] yujheli commented on #25
Does the loss become NaN during the burn-up or during mutual learning? Since you were using 80000 as the number of burn up iteration.

[2022-07-21 23:39] yujheli commented on #26
Yes, in my case I 30k would be sufficient for our experimental dataset. This may change for other customized datasets.

[2022-07-22 00:00] miurakenichi commented on #25
Thank you for your response.
It became NaN during the mutual learning.
The loss was NaN in the log output when the iteration was 188599.

[code]

[2022-07-22 00:08] yujheli commented on #25
@miurakenichi Could you pull or re-clone the code. I remembered I updated the meta_arch to solve parts of the NAN issue recently which is not supposed to have loss_D_img_s_pseudo printed.

Will get back to you for other issues. I'm still working on it.

[2022-07-22 00:14] miurakenichi commented on #26
Thank you for your response.
I have another question related to this.
The paper does not describe the loss trends, but how did the losses behave during the mutual learning?
At the time of my follow-up test, it looked like the graph below.
Is it as expected?
(In this case, mutual learning starts at 80k.)

![image](https://user-images.githubusercontent.com/35514034/180334949-ce11c9ab-8e5b-41a4-a983-

[2022-07-22 00:18] yujheli commented on #26
@miurakenichi Yes, I think so. Is this the performance on clipart1k?

[2022-07-22 00:23] miurakenichi commented on #26
@yujheli  Yes, It's on clipart1k.

[2022-07-22 00:33] yujheli commented on #26
@miurakenichi
Looks like your reproduced results match the scores I have in the internal FB code.
I am also figuring out the NAN issue which is happening in the local code but does not happen to the internal code at:
https://github.com/facebookresearch/adaptive_teacher/tree/main/prod_lib

Could you share your config or modification of the current github code so I may have better understanding wher

[2022-07-22 00:58] miurakenichi commented on #26
@yujheli
The code has not been modified. I used the code from commit cba3c59cadfc9f1a3a676a82bf63d76579ab552b.
The config is as follows:

[code]

[2022-07-22 01:03] yujheli commented on #26
@miurakenichi Really appreciate!

[2022-07-22 02:47] miurakenichi commented on #26
@yujheli
I did not intend to use FPN.
Because the following is commented out.
[code]
Do I have to comment out the following too?
[code]

[2022-07-22 06:38] yujheli commented on #26
@miurakenichi I see. If you are using the default backbone, then I think it is fine.

[2022-07-23 19:08] yujheli commented on #9
@michaelku1 @helq2612 Using the config at: https://github.com/facebookresearch/adaptive_teacher/issues/26
I can get 45.6 AP@50 before getting NAN.

[2022-07-23 19:46] yujheli commented on #23
Hi @tmp12316 , I tested with the correct config file without multi-scale trick and got 45.6 AP@50 on Clipart1k using batch size 4. Will update the experiment with more batch size once I have enough local training resources.

[2022-07-26 12:07] tmp12316 commented on #23
@yujheli

Hi, I think that this result seems to be much more reasonable. Thanks for your kind reply!

[2022-07-27 06:28] yujheli commented on #24
@cwhgn see https://github.com/facebookresearch/adaptive_teacher/issues/25

[2022-07-28 18:45] darkhan-s opened #27 "AP NaN"
Hello,

I formed a new target dataset in Pascal VOC format and as I understand, the target dataset should be unlabeled so I did not add .xml files to the Annotations folder of the target dataset. But how does the evaluation for the unlabeled images work in the teacher model if there are no ground truth boxes?

Specifically, at every EVAL_PERIOD iteration this line returns NaN:
https://github.com/f

[2022-07-29 00:11] yujheli commented on #27
Hi, I think you need to provide the annotations for the testing dataset for evaluation. For the unlabelled "training" dataset, you may need to give dummy annotation files to avoid errors.

[2022-07-29 02:46] ad45675 opened #28 "The checkpoint state_dict contains keys that are not used by the model"
hi,
when I eval or load the model the below warning message will appear.
is it correct for this message?

WARNING [07/29 10:39:53 fvcore.common.checkpoint]: The checkpoint state_dict contains keys that are not used by the model:
  modelTeacher.D_img.conv1.{bias, weight}
  modelTeacher.D_img.conv2.{bias, weight}
  modelTeacher.D_img.conv3.{bias, weight}
  modelTeacher.D_img.classifier.{bias, weight

[2022-07-29 02:47] mecarill opened #29 "Pre-trained VGG16 on ImageNet not shared?"
Is the VGG16 model pre-trained on ImageNet not shared or do you train the model from scratch?

[2022-07-29 05:42] yujheli commented on #28
@ad45675 I did not have this message when I loaded the model. Did you clone the updated code?

[2022-07-29 05:43] yujheli commented on #29
@mecarill There is no VGG16 pre-trained model for detectron2 so I trained it from scratch.

[2022-07-29 10:39] darkhan-s commented on #27
@yujheli thanks, that works. But then does it mean that the method is rather semi-supervised? Or in the end the performance would be the same without any labels, despite the difficulties in evaluating?

[2022-07-29 20:55] yujheli commented on #27
@darkhan-s Due to the code pipeline of detectron2, the label files (regarding ground truths or dummy ones) are supposed to be provided. Techinically the model does not use any labels from unlabelled datasets so the performance would be the same if I understand your question.

[2022-07-29 23:10] #5 closed

[2022-07-29 23:12] #20 closed

[2022-07-29 23:13] yujheli commented on #17
@Nure123 The pretrained models are updated for Clipart. You can load these weights again to see if you still have issues.

[2022-07-30 11:39] darkhan-s commented on #27
Yes, that answers my question. Thank you!

[2022-07-30 11:39] #27 closed

[2022-08-01 01:43] ad45675 commented on #28
thanks ! i clone the latest code and the problem have been solves!

But, after run about thousand iters the below error will occur!

`ERROR:adapteacher.engine.trainer:Exception during training:
Traceback (most recent call last):
  File "/home/nvt05031/py37_zero/adaptive_teacher/adapteacher/engine/trainer.py", line 405, in train_loop
    self.after_step()
  File "/venv/py37_zero-XRWy4lKA/lib/python

[2022-08-01 03:46] ad45675 commented on #17
hi, i want to ask . how to show the per-category bbox AP result

[2022-08-01 20:42] yujheli commented on #28
@ad45675 I did not have this error? Were you running cityscapes when this error occured? Looks like the error happened when building cityscapes_foggy.

[2022-08-01 20:44] yujheli commented on #17
@ad45675 I usually see the numbers in tensorboard. If you open the tensorboard then you can find AP@50 for each class.

[2022-08-02 00:34] #29 closed

[2022-08-02 01:26] ad45675 commented on #17
ok, i found it thanks!

[2022-08-02 01:49] #17 closed

[2022-08-02 01:50] #15 closed

[2022-08-03 04:20] onkarkris commented on #9
I can get only 41.27AP@50 at 90k iteration using config file provided with the code "faster_rcnn_R101_cross_clipart_b4.yaml"
NAN issue is appearing at iter: 154499. Now I am checking if I can reproduce results by usinf config #26

[2022-08-03 04:26] onkarkris commented on #28
@ad45675 I am still getting this issue even after cloning the latest repository. Although its just warning but can you please help how you solved it..

WARNING [08/02 18:50:11 fvcore.common.checkpoint]: The checkpoint state_dict contains keys that are not used by the model:
  fc1000.{bias, weight}
  res5.0.conv1.norm.{bias, running_mean, running_var, weight}
  res5.0.conv1.weight
  res5.0.conv2.no

[2022-08-03 04:29] onkarkris commented on #28
@yujheli Hi, I am getting another type of warning, is this warning message appears with you as well?

WARNING [08/02 18:50:11 fvcore.common.checkpoint]: The checkpoint state_dict contains keys that are not used by the model:
fc1000.{bias, weight}
res5.0.conv1.norm.{bias, running_mean, running_var, weight}
res5.0.conv1.weight
res5.0.conv2.norm.{bias, running_mean, running_var, weight}
res5.0.conv2.

[2022-08-04 03:25] onkarkris commented on #9
I can get 45.9 AP@50 with config #26

[2022-08-04 07:47] onkarkris commented on #16
@kinredon Can you reproduce Cityscapes → Foggy Cityscapes results with small batch size on lesser GPUs? If so can you please share your config here? I can get only 41% with batch size 4 on 4 GPUs.

[2022-08-04 08:12] kinredon commented on #16
@onkarkris When the batch size is small, I also cannot reproduce the results. Someone said that you can accumulate the gradients to achieve a large batchsize.

[2022-08-04 08:35] onkarkris commented on #24
@cwhgn I am unable to reproduce results on smaller batch size (4) on 4 GPUs, did you try with with less GPUs? I can get around 41 AP@50

[2022-08-05 08:00] zwang123 opened #30 "AttributeError: 'NoneType' object has no attribute 'keys'"
I was trying to reproduce the training from PASCAL VOC (source) to Clipart1k (target) using
[code]

However, I got the following error message:
[code]

I have pinpointed that the issue comes from `detectron2.checkpoint.c2_model_loading.align_and_update_state_dicts` removing all information in `checkpoint["model"]` because it is totally normal before entering this function but returns `None` after

[2022-08-05 08:05] zwang123 commented on #21
I got similar issues...

One month has passed since last update from the contributor, and I hope there are some updates :)

[2022-08-05 17:47] yujheli commented on #21
@wha-cloud @zwang123 Are you both still having this issue after re-clone the code? I did not get this issue on my end.

[2022-08-05 20:26] yujheli commented on #30
I do not have this error using the current code on my end.

[2022-08-06 01:48] zwang123 commented on #30
@yujheli
I have tried a clean clone of the latest version (up to the point of posting the comment) of adaptive teacher and I am still getting the same issue. I strongly suspect if the weights `detectron2://ImageNetPretrained/MSRA/R-101.pkl` has been updated such that it is not compatible with the old version of `Detectron2==0.3`.

Could you please reinstall a clean version of `Detectron2==0.3` (to

[2022-08-06 01:49] zwang123 commented on #21
@yujheli I am still having the same issue. It would be appreciated if you could test it again!

[2022-08-18 09:38] leoliu37 commented on #3
This is the problem of detecron2 version, I solve it by installing suitable version in https://github.com/facebookresearch/detectron2/releases

[2022-08-22 12:03] Doris1231 opened #31 "The AP and APl is 0.000 when evaluation in cityscapes_foggy_val"
Ok, the model will be evaluated two times:
If you are in the stage of burn-in, you will get 0 AP for teacher.
bbox (not uses):
<img width="1110" alt="image" src="https://user-images.githubusercontent.com/23270045/178135027-7fefca3f-4aa4-47f4-846b-0cb40655de82.png">
bbox_student:
<img width="1157" alt="image" src="https://user-images.githubusercontent.com/23270045/178135055-a958db4b-f646-4f30-b6bd-

[2022-08-25 10:43] Doris1231 commented on #30
When I use the weight provided by your interal prod_weights "VOC2Clipart.pth" , the code works .But when I use the weights downlode from the detectron2://ImageNetPretrained/MSRA/R-101.pkl , it makes an error " AttributeError: 'NoneType' object has no attribute 'keys' ",

Why does the R-101.pkl not work？

[2022-08-26 06:40] gedebachichi opened #32 "some puzzles about using "branch.startswith("supervised")" in adapteacher/modeling/meta_arch/rcnn.py"
Hi，I find you write "if branch.startswith("supervised")" in line 217 of adapteacher/modeling/meta_arch/rcnn.py.  I am confused of it.
I think it might be some problem when we run loss of unlabeled data with pseudo label ( in line 605 of adapteacher/engine/trainer.py), which should run in branch "supervised_target". And I think this will result wrong label for loss_D_img_s_pesudo.  Please check it.

[2022-08-26 09:44] onkarkris opened #33 "Can not reproduce the results on "foggy cityscapes" due to Out of Memory Issue"
I am getting "Cannot allocate memory error" after around 13-15k iterations while trying to reproduce results on "foggy cityscapes" dataset. I running this code on 4 GPUs with 360G memory.

I can reproduce VOC results on the same machine! The error is only on cityscapes dataset. I doubt the memory storage keeps increasing with iterations

<img width="476" alt="driver" src="https://user-images.githu

[2022-08-31 00:57] ygzhu commented on #31
I think you can refer to this paper the understand the burn-in stage![https://github.com/facebookresearch/unbiased-teacher](url)

[2022-08-31 00:59] ygzhu commented on #31
I think you can refer to this paper for understanding the burn-in stage! [Unbiased Teacher](https://github.com/facebookresearch/unbiased-teacher)

[2022-08-31 01:48] yujheli commented on #32
There is no loss_D_img_s_pesudo  in supervised_target for unlabelled data. The code should be fine.

[2022-08-31 01:57] onkarkris commented on #33
I solved this issue by updating torch version (1.7.0-->1.8.1) and could reproduce AP50 around 49. Thanks!

[2022-08-31 11:41] gedebachichi commented on #32
thank you for your reply.
If you run unlabeled data in branch "supervised_target", there is no loss_D_img. But you will run in branch "supervised" because "supervised_target"  is startswith "supervised", and then get loss_D_img_s (gt_label is wrong because you fix domain label as source domain in branch "supervised" while real label for unlabeled data is target domain). Then you update loss_D_img_

[2022-08-31 15:48] yujheli commented on #32
@gedebachichi You are right. I need to revise the if-else branch. Thank you for noting this!

[2022-09-01 05:57] #32 closed

[2022-09-07 09:41] huanmx opened #34 "Can adaptive teacher use one-stage detector?"

[2022-09-08 04:22] yujheli commented on #34
I haven't tried it yet. I think if you append the adversarial loss on it maybe it would also work.

[2022-09-08 04:24] yujheli commented on #33
@onkarkris Sry for the late reply. Glad to hear that the issue is solved. Will update the environment accordingly based on your suggenstion.

[2022-09-08 08:18] onkarkris commented on #33
@yujheli Thanks for your reply. But I am still struggling to get the accuracy reported in the paper (50.9), my reproduced results are 48.7 on 4 GPUs with IMG_PER_BATCH_LABEL: 8, IMG_PER_BATCH_UNLABEL: 8, BASE_LR: 0.04. Rest of the settings are same as original config file uploaded by you.

I will really appreciate if you can suggest or help me to get the values reported in paper. Any change in con

[2022-09-08 23:56] #3 closed

[2022-09-14 07:28] huanmx commented on #34
Thanks for your reply!
There is another question. Why not use discriminator to get loss_D_img_t in "supervise_target" branch rather than in "domain" branch. In other words, can we discard the "domain" branch and get loss_D_img_t in "supervise_target" branch and loss_D_img_s in "supervise" branch?

[2022-09-15 18:07] yujheli commented on #34
@huanmx yeah, I think so. Since the loss is optimized at the same time for each iteration, that should also work.

[2022-09-22 10:23] ssunguotu commented on #30
yeah, I have the same question.

[2022-09-22 10:24] ssunguotu commented on #30
yeah, I have the same question.

[2022-09-22 12:29] ssunguotu commented on #30
I found there has something wrong in `adaptive_teacher/adapteacher/checkpoint/detection_checkpoint.py` ，and I fixed it.
[code]

[2022-09-22 12:34] Weijiang-Xiong opened #35 "possible to wrap the teacher model by DistributedDataParallel?"
Hello, I'm trying to use your idea in my thesis work, thanks for your great idea and code!
I set require_grad=False for all the parameters in the teacher model, and wrapped it in DistributedDataParallel.
But what I got with my own code is that the training stucks at loss.backward(), the losses are not NaN.
If I lower down the batch size and run with just 1 GPU, the code works fine. But if I use Di

[2022-09-26 02:43] pengjw23 opened #36 "About VGG16 pre-trained on ImageNet"
we found that in the paper Chapter 4.2 : "ResNet101 [13] or VGG16 [36] pre-trained on ImageNet [7]". However, at adaptive_teacher/configs/faster_rcnn_VGG_cross_city.yaml, VGG16 did not used the pre-train ImageNet parameters like adaptive_teacher/configs/faster_rcnn_R101_cross_water.yaml.

We would like to know whether VGG16 are pretrained on ImageNet or not. thank you very much

[2022-09-27 02:22] Yorionice1 opened #37 "Why your test scale is larger than 600?"
Thanks for your working. I found the test scale is 800, which is larger than it in other papers in this field.

[2022-09-29 14:33] YangJae96 opened #38 "About discriminator in the paper"
Hi,

Where is the discriminator code that is mentioned in the paper?
Is it only a fully-connected layer, classifier in the network?

[2022-09-30 00:43] yujheli commented on #35
Were you using my code or re-write your own code? I think the current version should not get stuck.

[2022-09-30 00:43] yujheli commented on #36
Good question. Our model using VGG16 is trained from scratch.

[2022-09-30 00:44] yujheli commented on #37
Yes, we do not revise the default test scale. I think the performance can be improved if the test scale is fixed.

[2022-09-30 00:46] yujheli commented on #38
In the same source file of meta arch: https://github.com/facebookresearch/adaptive_teacher/blob/main/adapteacher/modeling/meta_arch/rcnn.py#L22

[2022-09-30 03:01] Yorionice1 commented on #37
Thanks for your reply. But I still can't get the accuracy reported in your paper (50.9), my result is around 45.2 on 4 GPUs with IMG_PER_BATCH_LABEL: 8, IMG_PER_BATCH_UNLABEL: 8, BASE_LR: 0.04. Rest of the settings are same as original config file uploaded by you.

[2022-09-30 03:06] Yorionice1 commented on #37
MODEL:
  # META_ARCHITECTURE: "TwoStagePseudoLabGeneralizedRCNN"
  META_ARCHITECTURE: "DAobjTwoStagePseudoLabGeneralizedRCNN"
  BACKBONE:
    NAME: "build_vgg_backbone"
  MASK_ON: False
  RESNETS:
    DEPTH: 101
  PROPOSAL_GENERATOR:
    NAME: "PseudoLabRPN"
  # RPN:
  #   POSITIVE_FRACTION: 0.25
  RPN:
    IN_FEATURES: ["vgg4"]
  ROI_HEADS:
    NAME: "StandardROIHeadsPseudoLab"
    LOSS: "CrossEn

[2022-09-30 03:08] Yorionice1 commented on #37
MODEL:
  # META_ARCHITECTURE: "TwoStagePseudoLabGeneralizedRCNN"
  META_ARCHITECTURE: "DAobjTwoStagePseudoLabGeneralizedRCNN"
  BACKBONE:
    NAME: "build_vgg_backbone"
  MASK_ON: False
  RESNETS:
    DEPTH: 101
  PROPOSAL_GENERATOR:
    NAME: "PseudoLabRPN"
  # RPN:
  #   POSITIVE_FRACTION: 0.25
  RPN:
    IN_FEATURES: ["vgg4"]
  ROI_HEADS:
    NAME: "StandardROIHeadsPseudoLab"
    LOSS: "CrossEn

[2022-09-30 03:09] Yorionice1 commented on #37
MODEL:

  META_ARCHITECTURE: "DAobjTwoStagePseudoLabGeneralizedRCNN"
  BACKBONE:
    NAME: "build_vgg_backbone"
  MASK_ON: False
  RESNETS:
    DEPTH: 101
  PROPOSAL_GENERATOR:
    NAME: "PseudoLabRPN"

  RPN:
    IN_FEATURES: ["vgg4"]
  ROI_HEADS:
    NAME: "StandardROIHeadsPseudoLab"
    LOSS: "CrossEntropy" # variant: "CrossEntropy"
    NUM_CLASSES: 8
    IN_FEATURES: ["vgg4"]
  ROI_BOX_HEAD:

[2022-09-30 06:17] Weijiang-Xiong commented on #35
Thansk for the reply! I'm using my own implementation as I want to use the idea of adaptive teacher in single stage detectors like retinanet and fcos. I actually found the problem was caused by inconsistent gradient across GPUs, and that was a bug in my code.

[2022-09-30 06:17] #35 closed

[2022-09-30 08:03] Yorionice1 commented on #33
Can you reproduce the performance in the paper without multi-scale training or multi-scale testing?

[2022-09-30 08:17] Yorionice1 commented on #33
I train my model on 4 3090, the experiments settings are same with you, but I can only reproduce AP50 around 46. I will appreciate it if you could share your training experience.

[2022-09-30 17:47] cmckee13 opened #39 "Teacher or Student model at inference time?"
Hello,
Do you use the teacher or student model at inference time? Looked through the paper but I couldn't find the answer.
Thanks!

[2022-10-03 05:09] onkarkris commented on #33
@Yorionice1 What is multi-scale training? Do you mean ResNet + FPN??

[2022-10-08 03:29] pengjw23 commented on #36
Thank you for your reply, and I want to know something about the dataset Foggy Cityscapes. I want to know which level weather you use when training, or all three types of weather are used for training. As a newcomer to this field, I am confused about this problem. I noticed that some papers only use foggy weather with level=0.02 for evaluation, for example, in Table 1 in PT (ICML-22, [1]).

![1665

[2022-10-08 16:53] Weijiang-Xiong commented on #9
Hello, is this still the case in the latest version of the code? I see the "build_discriminator()" is commented, does it mean it's no longer required?

https://github.com/facebookresearch/adaptive_teacher/blob/6f50dfd78857e8830afe6004add3df7eae0477ca/adapteacher/engine/trainer.py#L526

[2022-10-11 04:22] alvinti opened #40 "detectron2 v0.6 has removed FastRCNNOutputs class"
It should be using detectron2 v0.5 to implement the code.

[2022-10-11 05:18] alvinti commented on #40
I solved the issue by following the [https://github.com/facebookresearch/unbiased-teacher/issues/44](url)

[2022-10-13 15:14] firekeepers commented on #39
teacher i think in the code

[2022-10-14 02:16] sysuzgg opened #41 "why were the mAP and AP50 getting smaller with the increase of iterations"
With detectron2 for the first time, I didn't understand a problem. When I trained the source only, AT model, I loaded the pretrained model of model zoo, and the mAP and AP50 were getting smaller with the increase of iterations.

[2022-10-19 20:26] #38 closed

[2022-10-20 14:09] firekeepers opened #42 "mAP predicted by student_model is sometimes higher than teacher"
I train the model with my dataset,but the ap50 is instable, I may get vary different result by same parameters.
Moreover,the teacher' AP50 sometimes lower than student'AP50.
Is this phenomenon normal in DAOD？

![图片](https://user-images.githubusercontent.com/40134009/196971994-fd08f25d-cdf3-40aa-a954-f95ca3374774.png)

[2022-10-24 01:18] firekeepers commented on #42
我试图固定了torch，numpy等随机种子，在config.py中也尝试对随机种子进行了固定，同时数据读取的随机种子保持为0，但是每次的结果相差甚远

[2022-10-24 01:21] firekeepers commented on #42
对于网络的训练步骤，在trainer.py中描述的较为详细，首先＜burn_in_iter时对模型进行训练，burn up阶段将网络复制到教师模型，然后对学生模型进行训练

我根据网络拟合情况对训练时间进行了多次调整，由于我的数据集域分布偏差较大，因此较小的burn-in阶段可能会带来更高的精度

[2022-10-24 12:32] sysuzgg commented on #42
@firekeepers 请问你训练自己的数据集修改了什么参数，我用cityscapes的yaml配置训练自己的数据集，metrics.json中的结果比faster-RCNN source-only的结果差距20%左右，这个结果肯定不对，想请教一下哪些参数可以修改？

[2022-10-24 15:09] sysuzgg commented on #42
@firekeepers 还有一个问题，我用VGG16训练可行，但是换为R101的时候，训练中总是会出现total_loss, loss_cls, loss_box_reg都为Nan，learning rate 从0.02，0.002，0.0002，0.00002都试过，训练时还是total_loss, loss_cls, loss_box_reg都为Nan

[2022-10-24 15:11] sysuzgg commented on #42
@firekeepers 还有一个问题，我用VGG16训练可行，但是换为R101的时候，训练中总是会出现total_loss, loss_cls, loss_box_reg都为Nan，learning rate 从0.02，0.002，0.0002，0.00002都试过，训练时还是total_loss, loss_cls, loss_box_reg都为Nan

[2022-10-25 01:58] firekeepers commented on #42
主要调整burn-in阶段的训练时常吧，我也不确定根据你的数据集如何调整

[2022-10-25 02:25] sysuzgg commented on #42
好的，谢谢

[2022-10-26 07:34] zhezhejunyyds opened #43 "How to calculate mAP of model and mAP of each class, I tried to use sample code, but can not, how to solve?"

[2022-10-27 14:08] GeoffreyChen777 opened #44 "Memory Leak"
Hi, thanks for your work.

https://github.com/facebookresearch/adaptive_teacher/blob/d57d20640ae314a42c43dd82b1c1e26e90fa4b95/adapteacher/data/datasets/cityscapes_foggy.py#L79-L85

Here if we don't close the pool, that may cause a memory leak.

[code]

[2022-11-28 03:31] yujheli commented on #41
Did you still have the same issue? I couldn't understand your source-only issue. Did you mean to train the model on which dataset?

[2022-11-28 03:32] yujheli commented on #43
see this comment: https://github.com/facebookresearch/adaptive_teacher/issues/22

[2022-11-28 03:34] yujheli commented on #44
Thanks for the suggestion. I updated.

[2022-11-28 03:34] #44 closed

[2022-11-28 03:34] #43 closed

[2022-11-28 12:39] victor00070 opened #45 "Why 2 seperate annotation files?"
In readme.md, it is instructed to put gtFine folder to both clear and foggy data directories. But foggy images are created from clear ones therefore their annotations should be exactly the same. Indeed, there is only one annotation file in download link for cityscapes. Are we supposed to put exactly same gtFine folder to 2 different places?
Or is it structured like this to train custom datasets? B

[2022-11-29 04:40] yujheli commented on #24
For those who asked to reproduce the foggy cityscapes, I attached the parameters swift:
![image](https://user-images.githubusercontent.com/23270045/204440368-274776cc-5be9-4315-b3fb-4ec0c126ff0e.png)

The best result requires the specific parameter while I'm still figuring out the difficulty.